@use 'base/variables' as v;
@use 'sass:color';

@mixin phone {
    @media (min-width: v.$phone) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: v.$tablet) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: v.$desktop) {
        @content;
    }
}


@mixin button($bgColor, $textColor, $margin: 2rem) {
    background-color: $bgColor;
    padding: 1.5rem 4rem;
    color: $textColor;
    font-size: 1.6rem;
    display: inline-block;
    font-weight: 700;
    border: none;
    transition-property: background-color;
    transition-duration: .3s;
    text-align: center;
    display: block;
    width: 100%;
    margin: $margin 0;

    @include tablet {
        display: inline-block;
        width: auto;
    }

    &:hover {
        background-color: color.adjust($bgColor, $lightness: -10%);
        cursor: pointer;
    }
}

@mixin grid($columns, $gap) {
    display: grid;
    gap: $gap;
    grid-template-columns: repeat($columns, 1fr);
}

@mixin logo($color: v.$gray) {
    background: linear-gradient(to right, $color 0%, color.adjust($color, $lightness: +30%) 100%);
    color: transparent;
    background-clip: text;
}